.App {
  text-align: center;
}




/* TODO: FiX Up UI to look nice! 
* Add some "Real" buttons
* Style input from server
* make it look cool most of all
*/

/* .App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */
